{% set blox = htmlWebpackPlugin.options.blox %}
{% set title = blox.page.title %}

{% extends "layout/layout.njk" %}

{% block content %}
    <section class="container pt-6 pt-lg-8 pb-8 pb-lg-10">
        <h1 class="pb-3">Quiz</h1>
        <p class="lead mw-800 mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus mattis rhoncus urna neque viverra justo nec.</p>
        <a href="/questions/page-1" class="btn btn-primary d-block d-sm-inline-block mb-5">Start Quiz</a>
    </section>
{% endblock %}